.wrapper_persone{
  display: flex;
  justify-content: space-around;
}

.avatar{
  width: 140px;
  height: 140px;
}

.userName{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2rem;
  padding-top:1rem;
  text-align: center;
}

.information{
  font-family: "Courier New", Courier, monospace;
  font-size:1.2rem;
  padding-top:1rem
}

.position{
  text-align: center;
  font-size: 1.5rem;
  font-family: "Arial Black", Gadget, sans-serif;
  color: goldenrod;
}