.content {
  grid-area: content;
}
.hadProfile{
  width: 1000px;
  height: 280px;
  margin-bottom: -4px;
  opacity: 0.8;
}

.profile{
  width: 1000px;
}

.wallPosts{
  width: 1000px;
  height: 540px;
}

